FunctionPointer/FunctionPointer/Debug/
FunctionPointer/ipch/
*.opensdf
Delegate/Delegate/Debug/
MultiDelegate/ipch/
*.sdf
Multi-Delegate/ipch/MULTI-DELEGATE-b5259f20/MULTI-DELEGATE-64d0405f.ipch
Multi-Delegate/ipch/MULTI-DELEGATE-b5259f20/MULTI-DELEGATE-d1c5287d.ipch
Multi-Delegate/Multi-Delegate.VC.db
Multi-Delegate/Multi-Delegate.VC.VC.opendb
Multi-Delegate/Multi-Delegate/Multi-Delegate.vcxproj.filters
Multi-Delegate/Multi-Delegate/Multi-Delegate.vcxproj
